.mainContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--game-background);
  width: 800px;
  max-width: 1000px;
  height: auto;
  min-height: 500px;
  border-radius: 16px;
  align-items: center;
  overflow: hidden;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100%;
  max-width: 600px;
  justify-content: center; /* Centra los elementos */
  align-items: center;
  margin-top: 20px;
  gap: 100px;
}

.mainTitle {
  font-size: 2rem;
  color: var(--text-color);
  text-align: center;
  font-weight: bold;
  align-self: center;
}

.buttonContainer {
  display: flex;
  gap: 20px;
}

.cardNumberButton {
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid var(--text-color);
  border-radius: 12px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

.cardNumberButton.selected {
  background-color: #8b9f57;
  color: white;
}

.gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameBoard {
  display: grid;
  grid-gap: 10px; /* Espacio entre las cartas */
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: grid-template-columns 0.3s ease; /* Transición suave cuando cambian las cartas */
  width: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.gameBoard[data-cards="16"] {
  grid-template-columns: repeat(4, 1fr); /* 4 columnas para 16 cartas (4x4) */
  grid-template-rows: repeat(4, 1fr); /* 4 filas */
}

.gameBoard[data-cards="32"] {
  grid-template-columns: repeat(8, 1fr); /* 8 columnas para 32 cartas (8x4) */
  grid-template-rows: repeat(4, 1fr); /* 4 filas */
}

.gameBoard[data-cards="64"] {
  grid-template-columns: repeat(8, 1fr); /* 8 columnas para 64 cartas (8x8) */
  grid-template-rows: repeat(8, 1fr); /* 8 filas */
}

.gameBoard[data-cards="32"] .gameCard {
  font-size: 50px; /* Reduce el tamaño del texto para 32 cartas */
  padding: 5px; /* Reduce padding */
  width: 90%;
  height: 90%;
}

.gameBoard[data-cards="64"] .gameCard {
  font-size: 50px; /* Reduce aún más el tamaño del texto para 64 cartas */
  padding: 5px; /* Reduce padding */
  width: 90%;
  height: 90%;
}

.gameCard {
  position: relative;
  width: 100px; /* Ajusta según tu necesidad */
  height: 100px;
  aspect-ratio: 1;
  background-color: var(--card-background);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out, background-color 0.3s ease;
}

.gameCard.flipped {
  transform: rotateY(180deg);
}

.gameCard span {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.gameCard.flipped span {
  opacity: 1;
  transition-delay: 0.3s;
  color: var(--text-color);
}

.gameCard.success {
  background-color: green;
  color: var(--text-color);
  transform: rotateY(180deg);
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out 0.5s; /* Transición con retraso */
}

.gameCard.success span {
  opacity: 1;
  transition-delay: 0.3s;
  color: var(--text-color);
}

/* Footer */

.footerContainer {
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

.footerButtons {
  display: flex;
}

.resetButton {
  background-color: #ff4d4d; /* Rojo brillante para destacar */
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.resetButton:hover {
  background-color: #ff3333; /* Un poco más oscuro cuando pasa el mouse */
  transform: scale(1.1); /* Efecto de agrandar al pasar el ratón */
}
