body {
  margin: 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background);
  padding: 50px;
}

:root {
  --main-background: #020202;
  --game-background: #0d2818;
  --card-background: #04471c;
  --card-success: #16db65;
  --button-selected: #058c42;
  --text-color: #ffffff;
  --reset-button: #ff4d4d;
  --reset-button-hover: #ff3333;
  --white-full: #ffffff;
}
